.header-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 4rem;
   padding: 0 2rem;
}

#header-text {
   font-size: 1.75rem;
}

#header-logo {
   height: 3rem;
   width: 3rem;
}

.header-title {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-decoration: none;
}

#bold-title-text {
   font-weight: bold;
}

.header-options {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 0 1rem;
   border-radius: 10px;
}

.header-options:hover {
   background: rgba(204, 204, 204, 0.5);
}

#option-container {
   margin: 0 0.5rem;
   font-weight: bold;
   cursor: pointer;
   text-decoration: none;
   font-size: 1.27rem;
}
