.header-text {
   font-size: 3rem;
   font-weight: 600;
   color: #17519e;
   text-align: center;
   margin: 1rem 0;
}

.subheader-text {
   font-size: 2.5rem;
   font-weight: 400;
   color: #17519e;
}

.normal-text {
   font-size: 1.25rem;
   font-weight: 400;
}
